<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868459385765-teh4i92siurg35vmm7q2blccv77bgph1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868459385765-teh4i92siurg35vmm7q2blccv77bgph1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>868459385765-61aod9tvidteful0cufnouirf7nkec3j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ7xIbgzJYmaCHWZ8J4YPa7o9yfIMCb4c</string>
	<key>GCM_SENDER_ID</key>
	<string>868459385765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tixcycle</string>
	<key>PROJECT_ID</key>
	<string>tixcycle</string>
	<key>STORAGE_BUCKET</key>
	<string>tixcycle.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868459385765:ios:9297757d991554e0018e4c</string>
</dict>
</plist>